/*General*/
:root {
    --white: #ffffff;
    --red: #f3643a;
    --orange: #ff950e;
    --lightblue: #d9f7ed;
    --mediumblue: #77cfb7;
    --aquablue: #3bb4ab;
    --lightgreen: #cff4a4;
    --darkwhite: #e3f8cf;
    --darkgreen: #538568;
    --bluedeep: #1c97f4;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #b5f1b3 0%, #d2f4a7);

}

/*///////////////Header////////////////*/

.header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #b5f1b3 0%, #d2f4a7);
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 10px 0px #bddaa5;
}

h1 {
    text-transform: uppercase;
    color: #ff950e;
    padding-right: 7rem;
}

/*Menu navegation*/
.menu-nav {
    width: 100%;
}

nav.menu-nav ul li a {
    margin: 0 1rem 0 1rem;
}

/*Menu navegation end*/

h2.location {
    text-align: center;
    background-color: #e3f8cf;
    color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.nickname {
    text-transform: uppercase;
    color: #538568;
    font-size: 1rem;
}

ul li {
    display: inline;
    /* Propiety applied to menu-nav and boxes*/
}

nav.menu-nav ul {
    padding-left: 0;
}

/*//////////////Boxes/////////////////*/
#list-of-boxes {
    padding-left: 50PX ;   
}
.box {
    display: inline-block;
    background-color: #77cfb7;
    border-radius: 20px;
    margin: 15px 3px 15px 3px;
}

.active {
    background-color: #f3643a;
}

.box h3 {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    margin: 10px 30px 10px 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    color: gray;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    padding: 5px;
}

.row {
    width: auto;
}

.cell {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-image: radial-gradient(#d9f7ed 5%, #ffffff 95%);
    border-radius: 50%;
}

div.content div.cell img {
    display: block;
    margin: auto;
    width: 90%;

}

/*/////////////Footer////////////////////*/
footer {
    margin-bottom: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.menu-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3bb4ab;
    margin-bottom: 0px;
}

div.menu-options ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.menu-options div.options a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.options {
    margin-right: 3rem;

}

.options:last-child {
    margin-right: 0;
}

a.button-menu {
    margin: 1rem;
}

a.button-menu span {
    margin-left: 5px;
}